{%extends "notes/index.html" %}
{% block notes %}
  <form method="post" class="form-card">
    {% csrf_token %}
    <input id="titulo" type="text" name="titulo" class="form-card-title" placeholder="Título"/>
    <textarea id="detalhes" name="detalhes" class="autoresize" placeholder="Digite o conteúdo..."></textarea>
    <input id="tag" type="text" name="tag" class="form-card-tag" placeholder="Tag"/>
    <input type="submit" class="btn"/>
  </form>

  <div class="card-container">
    {% for note in notes %}
        {% include 'notes/card.html' %}
    {% endfor %}
  </div>
{% endblock %}